@{
    ViewData["Title"] = "Home Page";
}

<!--Main div with ID root, this where React will load the App-->
@* <div id="root"></div> *@

<div style="width:800px; margin:0 auto; padding-top:300px;"class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <button type="button"><a asp-controller="Home" asp-action="Login"></a>Login</button>
</div>